*.exe
.idea
.vscode
*.iml
*.local
/*.log
*.out
*.prof
*.test
.DS_Store
*.dmp
*.db

*.asm
*.cfg
*.o
*.dbg
coverage.txt

*.nes
docs/
dist/
tests/*
/retroasm

!tests/z80/
tests/z80/*
!tests/z80/basic.asm
!tests/z80/indexed.asm
!tests/z80/branches.asm
!tests/z80/branches_overflow.asm
!tests/z80/io_extended.asm
!tests/z80/offsets.asm
!tests/z80/offsets_chained.asm
!tests/z80/expressions.asm
!tests/z80/compatibility.asm
